<!-- Sidebar default asi no copio y pego codigo como un botardo -->
<aside class="sidebar">
    <div class="logo">
        <h2>Hospital De Clinicas</h2>
    </div>

    <nav>
        <a href="gestionAmbulancias.html">
            <i class="fa-solid fa-truck-medical"></i> Ambulancias
        </a>

        <a href="documentosAdmin.html" id="navDocumentos">
            <i class="fa-solid fa-file-lines"></i> Documentación
        </a>

        <a href="notificaciones.html" >
            <i class="fa-solid fa-bell"></i>
            Notificaciones
            <span class="badge">3</span>
        </a>

        <a href="administrarUsuarios.html" id="navUsuarios">
            <i class="fa-solid fa-user-plus"></i>
            Administrar Usuarios
        </a>
    </nav>

    <div class="usuario">
        <img src="../img/fotoejemplo.webp" alt="Usuario">

        <div>
            <strong id="lblRolUsuario">Cargando...</strong>
            <p id="lblNombreUsuario">Hospital de Clínicas</p>
        </div>
    </div>

    <button id="btnLogout" class="btn-logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        Cerrar Sesión
    </button>
</aside>
<script src="../js/logout.js"></script>